/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 540px){
    body{
    
    }
}


/* Smartphonr Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){
    body{

    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){
    body{
   
    }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */
@media (min-width: 992px){
    body{
    
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px){
    body{
 
    }
}


/* Cabeçaho - Menu Topo */ 
#menu-topo {
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
    list-style: none;
}
#menu-topo ul{
    padding: 20px;
    margin: 0px;
    background-color: whitesmoke;
    list-style: none;
}

#menu-topo img {
    float: left;
}

#menu-topo ul li { display: inline; }

#menu-topo ul li a {
    padding: 3px 15px;
    display: inline-block;

    /* Visual do link */
    background-color: dimgray;
    color: aliceblue;
    text-decoration: none;
    border-bottom: 2px solid darkgrey;
    float: right;
}


